#忽略上传的文件夹
**/lib/**
**/dist/**
**/test/**
**/.idea/**
**/target/**
**/node_modules/**
**/.vscode/**

#忽略上传的文件
**/yarn.lock
**/package-lock.json
**/.DS_Store
**/ncp-debug.log
**/npm-debug.log
**/yarn-error.log
**/oss.json
**/ali-oss.json
**/custom.json
**/server/template/config.json

#IDE
**/*.iml
